In [2]:
import pandas as pd

In [3]:
# read in csv of webscraped data from 1 notebook
um = pd.read_csv("utility_matrix8.csv")

In [4]:
# read in csv of webscraped data from a different notebook
um1 = pd.read_csv("utility_matrix9.csv")

In [5]:
# lets take a look to make sure that it came in ok
um.head()

,'Merica Porter,100 Barrel Series #26 - Catamount Maple Wheat,Alter Ego,American Amber Ale,Bière De Mars,Black Rye,Cali-Belgique IPA,Cold Hop British-Style Ale,Dank & Sticky IPA (The Hop Freshener Series),Double Dry Hopped Congress Street,...,Hop Czar,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,Samuel Adams Blueberry Hill Lager,Thumbprint Berliner Weiss,Thumbprint Oud Bruin,Feisty Blonde,True Culture Oatmeal Coffee Porter
0,3.04,3.55,4.75,4.02,4.35,4.65,4.0,3.97,4.42,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# let's see how large it is
um.shape

(1300, 20689)

In [7]:
# lets take a look to make sure that it came in ok
um1.head()

,user_name,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,...,Kaldi Imperial Coffee Stout,Old Oyle,Pisgah Mole Stout,Pistols At Dawn,Power Stoutage,Rollin’ Deep Cinnamon Roll Stout,Salted Caramel Imperial Moo-Hoo,Situational Ethics (Bourbon and Coffee),Trip In the Woods: Tequila-Barrel-Aged Otra Vez,Warm Welcome Nut Browned Ale
0,Hitchman&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,beefbucket,4.7,4.0,4.0,4.48,3.83,4.78,4.27,4.94,4.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,beefbucket&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Isarnan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Isarnan&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# let's see how large it is
um1.shape

(1030, 16545)

In [8]:
# move user_names to the front of the dataframe
mid = um['user_name']
um.drop(labels=['user_name'], axis=1,inplace = True)
um.insert(0, 'user_name', mid)
um.head()

,user_name,'Merica Porter,100 Barrel Series #26 - Catamount Maple Wheat,Alter Ego,American Amber Ale,Bière De Mars,Black Rye,Cali-Belgique IPA,Cold Hop British-Style Ale,Dank & Sticky IPA (The Hop Freshener Series),...,Hop Czar,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,Samuel Adams Blueberry Hill Lager,Thumbprint Berliner Weiss,Thumbprint Oud Bruin,Feisty Blonde,True Culture Oatmeal Coffee Porter
0,Rainintheface&order=dateD&view=R,3.04,3.55,4.75,4.02,4.35,4.65,4.0,3.97,4.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpinSamzo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SpinSamzo&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JohnWesolowski,NaN,NaN,4.70,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JohnWesolowski&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# join the two different dataframes together
result2 = pd.concat([um1, um], axis=0, sort=False)

In [10]:
result2.head()

,user_name,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,...,Blue Moon Spring Blonde Wheat Ale,Bud Light Lime Mang-o-Rita,Cherry Truffle Abduction,Closer Encounter,Dos Equis Dos-A-Rita,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,True Culture Oatmeal Coffee Porter
0,Hitchman&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,beefbucket,4.7,4.0,4.0,4.48,3.83,4.78,4.27,4.94,4.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,beefbucket&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Isarnan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Isarnan&order=dateD&view=R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# some of the user names have extra things at the end from the web address
# &order=dateD&view=R

In [11]:
# make a new df to make changes to, so if there are mistakes I can go back to the orginal without reruning everything
test = result2

In [12]:
# get rid of the extra bits in the user names
test['user_name'].replace(regex=True,inplace=True,to_replace=r'\&(?m)(?<=\b&).*$',value=r'')

In [13]:
# lets take a look and make sure it worked
test.head()

,user_name,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,...,Blue Moon Spring Blonde Wheat Ale,Bud Light Lime Mang-o-Rita,Cherry Truffle Abduction,Closer Encounter,Dos Equis Dos-A-Rita,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,True Culture Oatmeal Coffee Porter
0,Hitchman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,beefbucket,4.7,4.0,4.0,4.48,3.83,4.78,4.27,4.94,4.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,beefbucket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Isarnan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Isarnan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# fill the NaN values with 0
test = test.fillna(0)

In [15]:
# make sure it worked
test.head()

,user_name,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,...,Blue Moon Spring Blonde Wheat Ale,Bud Light Lime Mang-o-Rita,Cherry Truffle Abduction,Closer Encounter,Dos Equis Dos-A-Rita,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,True Culture Oatmeal Coffee Porter
0,Hitchman,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,beefbucket,4.7,4.0,4.0,4.48,3.83,4.78,4.27,4.94,4.56,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,beefbucket,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Isarnan,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Isarnan,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# there were some repeats in the user names, lets group them together and sum the results
test = test.groupby('user_name').sum()

In [17]:
# this went from 2330 rows to 1146
test.shape

(1147, 29821)

In [50]:
# lets see if there are any rows that don't have any reviews
for x in test.sum(axis=1):
    if x == 0:
        print(x)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [18]:
# let's get rid of all the rows without any reviews
test = test[test.sum(axis=1)>0]

In [63]:
test.head()

,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,Bourbon County Brand Vanilla Stout,...,Blue Moon Spring Blonde Wheat Ale,Bud Light Lime Mang-o-Rita,Cherry Truffle Abduction,Closer Encounter,Dos Equis Dos-A-Rita,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,True Culture Oatmeal Coffee Porter
user_name,,,,,,,,,,,,,,,,,,,,,
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-m-lucas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
104401,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11-52_4hops,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
# this removed 21 rows
test.shape

(1125, 29821)

In [74]:
# save data to csv
test.to_csv("./user_rating.csv", sep=',',index=False)

# Reshape Data for Surprise!

Surprise doesn't want to be fed in data from a sparce matrix, they want data in just a few columns (User ID, Item, Rating, Timestamp(optional)).

In [19]:
# make a copy of the data
utility_matrix_copy = test.copy()

#get rid of the user names
utility_matrix_copy_features = utility_matrix_copy.reset_index(drop=True)

utility_matrix_copy_features.head()

,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,Bourbon County Brand Vanilla Stout,...,Blue Moon Spring Blonde Wheat Ale,Bud Light Lime Mang-o-Rita,Cherry Truffle Abduction,Closer Encounter,Dos Equis Dos-A-Rita,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,True Culture Oatmeal Coffee Porter
0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,9.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.85,0.0,0.0,0.0,0.0,4.5,0.0,4.75,0.0,4.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
utility_matrix_copy['UID'] = list(range(1, len(utility_matrix_copy)+1))
utility_matrix_copy = utility_matrix_copy.reset_index(drop=True)
utility_matrix_copy.head()

,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,Bourbon County Brand Vanilla Stout,...,Bud Light Lime Mang-o-Rita,Cherry Truffle Abduction,Closer Encounter,Dos Equis Dos-A-Rita,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,True Culture Oatmeal Coffee Porter,UID
0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,9.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,4.85,0.0,0.0,0.0,0.0,4.5,0.0,4.75,0.0,4.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [22]:
#rename index column UID - for User ID
utility_matrix_copy_features.index.name = 'UID'
utility_matrix_copy_features.head()

,4th Anniversary,60 Minute IPA,90 Minute IPA,AAAlterrr Ego,Alpha King,Barrel-Aged Sump Coffee Stout,Bbbrighttt W/ Galaxy,Beer:Barrel:Time,Blanc De Blancs,Bourbon County Brand Vanilla Stout,...,Blue Moon Spring Blonde Wheat Ale,Bud Light Lime Mang-o-Rita,Cherry Truffle Abduction,Closer Encounter,Dos Equis Dos-A-Rita,Imperial End Of Days,Last City Zero,Orange Truffle Abduction,Razor Hoof,True Culture Oatmeal Coffee Porter
UID,,,,,,,,,,,,,,,,,,,,,
0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,9.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.85,0.0,0.0,0.0,0.0,4.5,0.0,4.75,0.0,4.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
#from initial utility matrix, pivot and drop 0 ratings

long_matrix = pd.melt(utility_matrix_copy, 
        id_vars='UID', 
        value_vars=utility_matrix_copy_features,
        var_name='beer_name',
        value_name='rating')

long_matrix = long_matrix[(long_matrix != 0).all(1)]
long_matrix.head()

     UID        beer_name  rating
4      5  4th Anniversary    4.85
31    32  4th Anniversary    3.37
59    60  4th Anniversary    4.25
159  160  4th Anniversary    4.50
179  180  4th Anniversary    4.00

In [24]:
# reset index
long_matrix.reset_index(drop = True)

        UID                                        beer_name  rating
0         5                                  4th Anniversary    4.85
1        32                                  4th Anniversary    3.37
2        60                                  4th Anniversary    4.25
3       160                                  4th Anniversary    4.50
4       180                                  4th Anniversary    4.00
5       244                                  4th Anniversary    4.34
6       335                                  4th Anniversary    5.00
7       356                                  4th Anniversary    4.67
8       496                                  4th Anniversary    4.52
9       553                                  4th Anniversary    4.23
10      557                                  4th Anniversary    5.00
11      590                                  4th Anniversary    4.56
12      612                                  4th Anniversary    4.48
13      678                                  4th Anniversary    4.19
14      680                                  4th Anniversary    4.77
15      687                                  4th Anniversary    4.70
16      747                                  4th Anniversary    4.49
17      997                                  4th Anniversary    4.69
18     1006                                  4th Anniversary    4.50
19     1043                                  4th Anniversary    3.59
20     1078                                  4th Anniversary    4.35
21        6                                    60 Minute IPA    3.87
22       13                                    60 Minute IPA    4.13
23       27                                    60 Minute IPA    2.86
24       47                                    60 Minute IPA    3.89
25       57                                    60 Minute IPA    4.19
26       78                                    60 Minute IPA    4.40
27       87                                    60 Minute IPA    3.79
28      103                                    60 Minute IPA    5.00
29      125                                    60 Minute IPA    4.50
...     ...                                              ...     ...
76511   609                       Even More Props And Stunts    4.87
76512  1036                                      Berry Monks    4.31
76513   761                    Anubis Imperial Coffee Porter    4.34
76514   761                                Arrowhead Red Ale    3.69
76515   761                   Boondock Saint Irish Dry Stout    4.10
76516   761                               Mouth Breather IPA    4.01
76517   761                                     Perrin Black    3.67
76518   761                       Pike Old Bawdy Barley Wine    4.18
76519   761                                        Red Lager    3.42
76520   761                                   Southern Belle    3.70
76521   761  St-Ambroise 20th Anniversary Vintage Ale (2009)    4.22
76522   761                                 The Precious One    3.87
76523   761                                    Chromatic Ale    3.81
76524   761                                      Flashy Ways    4.19
76525   761                        Orbital Tilt - Vic Secret    4.28
76526   761                                Syracuse Pale Ale    3.56
76527   306                               Grain Belt Premium    3.25
76528   306                                   Hard Root Beer    3.00
76529   306                                         War Bird    4.00
76530   306                 Blue Moon Gingerbread Spiced Ale    3.00
76531   306                Blue Moon Spring Blonde Wheat Ale    3.00
76532   306                       Bud Light Lime Mang-o-Rita    2.00
76533   306                         Cherry Truffle Abduction    4.50
76534   306                                 Closer Encounter    4.25
76535   306                             Dos Equis Dos-A-Rita    2.00
76536   306                             Imperial End Of Days    4.00
76537   306                                   Last City Zero    3.50
76538   306                         Orange Truffle Abduction    4.50
76539   306                                       Razor Hoof    4.00
76540    71               True Culture Oatmeal Coffee Porter    4.16

[76541 rows x 3 columns]

In [106]:
# save data to csv
long_matrix.to_csv("./rating.csv", sep=',',index=False)